#home.page-wrapper #category-wrapper {
    position: relative;
}

#home.page-wrapper #category-wrapper .category-list .category .box {
    height: 150px;
}

#home.page-wrapper #category-wrapper .category-list .category .category-icon,
#home.page-wrapper #category-wrapper .category-list .category .category-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#home.page-wrapper #category-wrapper .category-list .category .category-icon {
    left: 0;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content {
    right: 0;
}

#home.page-wrapper #category-wrapper .category-list .category .category-icon svg {
    width: 100%;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content a.category-link,
#home.page-wrapper #category-wrapper .category-list .category .category-content .subcategory-list .subcategory a.subcategory-link {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content > a.category-link {
    display: inline-block;
    text-transform: uppercase;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content .subcategory-list .subcategory a.subcategory-link {
    font-size: 10px;
    font-size: 0.83rem;
    text-transform: capitalize;
}