#ads-advanced.page-wrapper .ads-image-container {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#ads-advanced.page-wrapper #ads-profile-image,
#ads-advanced.page-wrapper #ads-cover-image,
#ads-advanced.page-wrapper #ads-photos .ads-photo,
#ads-advanced.page-wrapper #ads-photos .ads-photo {
    display: block;
    min-height: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}