@-webkit-keyframes svg-stroke-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes svg-stroke-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

@-ms-keyframes svg-stroke-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

@-o-keyframes svg-stroke-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes svg-stroke-animate {
    from {}
    to {
        stroke-dashoffset: 0;
    }
}

svg.svg-stroke-animate path {
    animation: svg-stroke-animate 4s forwards;
    fill: none;
    stroke: #76b1d5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 2;
}