#home.page-wrapper #category-wrapper {
    position: relative;
}

#home.page-wrapper #category-wrapper .category-list .category .box,
#home.page-wrapper #category-wrapper .category-list .category .box .box-body,
#home.page-wrapper #category-wrapper .category-list .category .category-icon,
#home.page-wrapper #category-wrapper .category-list .category .category-icon svg,
#home.page-wrapper #category-wrapper .category-list .category .category-content {
    height: 180px;
}

#home.page-wrapper #category-wrapper .category-list .category .category-icon svg {
    width: 100%;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content a.category-link,
#home.page-wrapper #category-wrapper .category-list .category .category-content .subcategory-list .subcategory a.subcategory-link {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content > a.category-link {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}

#home.page-wrapper #category-wrapper .category-list .category .category-content .subcategory-list .subcategory a.subcategory-link {
    font-size: 10px;
    font-size: 0.83rem;
    text-transform: capitalize;
}