#home.page-wrapper #category-wrapper {
    position: relative;
}

#home.page-wrapper #category-wrapper .category-list .category .box {
    height: 155px;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link {
    height: 100%;
    display: block;
    margin: auto;
    width: 100%;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-icon,
#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-text {
    position: relative;
    text-align: center;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-icon {
    height: 100px;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-icon svg {
    height: 100%;
    width: 100%;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-text {
    height: 30px;
}

#home.page-wrapper #category-wrapper .category-list .category .box .link .box-body  .category-content .category-text .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#home.page-wrapper #category-wrapper .category-list .category .box .link:hover .box-body .category-content .category-text .title {
    text-decoration: underline;
}