#home.page-wrapper header.small-header {
    background-color: #fff;
    border-color: #f3f3f3;
    color: #529eff;
}

#home.page-wrapper header nav.navbar ul li {
    display: inline-block;
}

#home.page-wrapper header nav.navbar ul li.form-search-container {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
    -moz-transition: visibility 0s, opacity 0.5s ease-in-out;
    -ms-transition: visibility 0s, opacity 0.5s ease-in-out;
    -o-transition: visibility 0s, opacity 0.5s ease-in-out;
}

#home.page-wrapper header.small-header nav.navbar ul li a {
    color: #529eff;
}

#home.page-wrapper header.small-header nav.navbar ul li.form-search-container {
    opacity: 1;
    visibility: visible;
}