#home.page-wrapper header.small-header {
    background-color: #fff;
    border-color: #f3f3f3;
    color: #95C2DE;
}

#home.page-wrapper header nav.navbar-mobile {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
}

#home.page-wrapper header nav.navbar-mobile ul li a {
    color: #76b1d5;
}

#home.page-wrapper header button.navbar-toggle {
    color: #fff;
    cursor: pointer;
    padding: 0;
}

#home.page-wrapper header nav.navbar ul li {
    display: inline-block;
    text-align: center;
}

#home.page-wrapper header.small-header nav.navbar ul li a {
    color: #76b1d5;
    line-height: 50px;
}