#search.page-wrapper #search-result-section .search-result-list .search-result {
    position: relative;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header {
    border-bottom: none;
    height: 80px;
    position: relative;
    text-shadow: 1px 0 0 #f3f3f3, -1px 0 0 #f3f3f3, 0 1px 0 #f3f3f3, 0 -1px 0 #f3f3f3, 1px 1px #f3f3f3, -1px -1px 0 #f3f3f3, 1px -1px 0 #f3f3f3, -1px 1px 0 #f3f3f3;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .search-result-image-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    transition: height 0.2s ease;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    width: 100%;
}

/* #search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .search-result-image-container {
    height: 80px;
} */

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .search-result-image-container .search-result-image {
    display: block;
    min-height: 100%;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    position: relative;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .search-result-image-container .search-result-image-effect {
    background: transparent;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(255, 255, 255, 0.5) 100%);
    height: 100%;
    left: 0; 
    opacity: 1;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -ms-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    width: 100%;
}

#search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .search-result-image-container .search-result-image-effect {
    opacity: 0;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content {
    bottom: 0;
    position: absolute;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-title-section .ads-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* #search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .box-header-content {
    height: 80px;
    margin-top: 0;
} */

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section {
    text-align: end;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-total {
    font-size: 0.83rem;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-title-section .ads-title-link,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-total .ads-avaliation-link,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list {
    transition: color 0.2s ease, text-shadow 0.2s ease;
    -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
    -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
    -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
    -o-transition: color 0.2s ease, text-shadow 0.2s ease;
}

#search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .box-header-content .ads-title-section .ads-title-link,
#search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-total .ads-avaliation-link,
#search.page-wrapper #search-result-section .search-result-list .search-result:hover .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list {
    color: #fff;
    text-shadow: 1px 0 0 #5b5b5b, -1px 0 0 #5b5b5b, 0 1px 0 #5b5b5b, 0 -1px 0 #5b5b5b, 1px 1px #5b5b5b, -1px -1px 0 #5b5b5b, 1px -1px 0 #5b5b5b, -1px 1px 0 #5b5b5b;
}

/*#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-total,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list .ads-avaliation {
    display: inline-block;
    vertical-align: middle;
}*/

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list {
    direction: rtl;
    font-size: 0;
    unicode-bidi: bidi-override;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list .ads-avaliation {
    cursor: pointer;
    font-size: 1.33rem;
    padding: 2px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list .ads-avaliation:hover i:before,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list .ads-avaliation:hover ~ .ads-avaliation i:before {
    content: "\f005";
    color: #e3cf7a
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content {
    padding-bottom: 15px;
    padding-top: 15px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .section-group .ads-phone-section,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .section-group:not(:first-child) {
    margin-top: 10px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-facility-section,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-more-details-section,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-payment-method-section {
    text-align: end;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-facility-section .ads-facility-list .ads-facility {
    background-color: #f3f3f3;
    border-radius: 50%;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    text-align: center;
    width: 25px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-icon-container {
    font-size: 14px;
    font-size: 1.166rem;
    position: relative;
    text-align: center;
    width: 25px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-phone-section .ads-phone-list {
    vertical-align: top;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-phone-section .ads-phone-list .ads-phone:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 68px;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-phone-section .ads-phone-list .ads-phone:not(:first-child) {
    display: none;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-total,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-header .box-header-content .ads-avaliation-section .ads-avaliation-list .ads-avaliation,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-facility-section .ads-facility-list .ads-facility,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-icon-container,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-phone-section .ads-phone-list,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-payment-method-section .ads-payment-method-list,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-payment-method-section .ads-payment-method-list .ads-payment-method,
#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-link-section .ads-link-list .ads-link {
    display: inline-block;
    vertical-align: middle;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-business-hour-section .ads-business-hour-open {
    color: #29ca29;
}

#search.page-wrapper #search-result-section .search-result-list .search-result .box .box-body .box-body-content .ads-link-section .ads-link-list .ads-link {
    margin-right: 20px;
}