.login-page,
.register-page {
    background: #d2d6de
}

.login-box,
.register-box {
    width: 360px;
    margin: 7% auto
}

@media (max-width: 768px) {
    .login-box,
    .register-box {
        width: 90%;
        margin-top: 20px
    }
}

.login-box-body,
.register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    color: #777
}