.aspect-ratio:before {
	content: '';
	display: block;
    overflow: hidden;
	padding-top: 100%;
}

.aspect-ratio .aspect-ratio-wrapper {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
}