html {
    font-size: 12px;
}

body {
    color: #5b5b5b;
    /*font-family: "Raleway", "Helvetica", "sans-serif";*/
    font-family: "Questrial", "Helvetica", "sans-serif";
    font-size: 1rem;
    position: relative;
}

body.overlay {
    overflow: hidden;
}