header {
    border-color: transparent;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    font-size: 14px;
    font-size: 1.17rem;
    height: 70px;
    line-height: 24px;
    position: fixed;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, height 0.5s ease-in-out, line-height 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, height 0.5s ease-in-out, line-height 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, height 0.5s ease-in-out, line-height 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, height 0.5s ease-in-out, line-height 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, height 0.5s ease-in-out, line-height 0.5s ease-in-out;
    width: 100%;
    z-index: 500;
}

header.small-header {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    height: 50px;
}

header .logo-name {
    position: absolute;
}

header .logo-name:before {
    content: "Bg";
    font-family: Calibri;
    color: #fff;
}

header img {
    height: 50px;
    width: 50px;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    -ms-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

header.small-header img {
    height: 40px;
    width: 40px;
}

header.main-header {
    background-color: #529eff;
    color: #fff;
}

header nav.navbar {
    border-radius: 0;
    height: inherit;
    margin: 0;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
}

header nav.navbar .header-content {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

header nav.navbar .header-content form {
    text-align: start;
}

header nav.navbar .header-content a {
    background-color: transparent;
    color: #fff;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

header.main-header ~ div.page-content {
    margin-top: 85px;
    transition: margin-top 0.5s ease-in-out;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -ms-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
}

header button.navbar-toggle {
    z-index: 501;
}

header button.navbar-toggle .menu-title,
header button.navbar-toggle .menu-icon {
    display: inline-block;
    vertical-align: middle;
}

header button.navbar-toggle span {
    color: #6f6f6f;
    font-weight: bold;
}

header button.navbar-toggle .menu-icon {
    display: inline-block;
    position: relative;
    width: 20px;
}

header button.navbar-toggle .menu-icon span,
header button.navbar-toggle .menu-icon span:before,
header button.navbar-toggle .menu-icon span:after {
    background-color: #6f6f6f;
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

header button.navbar-toggle .menu-icon span:before,
header button.navbar-toggle .menu-icon span:after {
    content: '';
    left: 0;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

header button.navbar-toggle .menu-icon span:before {
    top: -0.5rem;
    transition-property: top, transform;
}

header button.navbar-toggle .menu-icon span:after {
    bottom: -0.5rem;
    transition-property: bottom, transform;
}

header button.navbar-toggle.active .menu-icon span {
    background-color: transparent;
}

header button.navbar-toggle.active .menu-icon span:before,
header button.navbar-toggle.active .menu-icon span:after {
    transition-delay: 0s, 0.3s;
}

header button.navbar-toggle.active .menu-icon span:before {
    top: 0;
    transform: rotate(45deg);
}

header button.navbar-toggle.active .menu-icon span:after {
    bottom: 0;
    transform: rotate(-45deg);
}

header nav.navbar-mobile {
    background-color: #fff;
    height: 100%;
    position: fixed;
    width: 100%;
}

header nav.navbar-mobile li a {
    padding-bottom: 20px;
    padding-top: 20px;
}

header nav.navbar-mobile li:not(:last-child):after {
    background: rgba(243,243,243,1);
    background: linear-gradient(to right, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
}

header nav.navbar-mobile ul li a,
header nav.navbar-mobile .header-content a {
    color: #529eff;
}

header button.navbar-toggle {
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
}








header nav {
    border: 0 !important;
    padding: 0 !important;
}

header nav #main-navbar.collapse .nav {
    float: right;
    width: 85%;
}

header nav #main-navbar.collapse.in .nav {
    float: left;
    width: auto;
}

header nav .navbar-header > a,
header nav #main-navbar.collapse .nav li a {
    color: #fff;
}

header nav .navbar-header > button {
    margin-top: -4px;
}

header nav .navbar-header > a,
header nav .navbar-header > button,
header nav #main-navbar.collapse .nav li a {
    line-height: 6rem;
    transition: line-height 0.5s ease-in-out;
    -webkit-transition: line-height 0.5s ease-in-out;
    -moz-transition: line-height 0.5s ease-in-out;
    -ms-transition: line-height 0.5s ease-in-out;
    -o-transition: line-height 0.5s ease-in-out;
}

header.small-header nav .navbar-header > a,
header.small-header nav .navbar-header > button,
header.small-header nav #main-navbar.collapse .nav li a {
    line-height: 4rem;
}

header nav #main-navbar.collapse .nav li form {
    margin-top: 20px;
    transition: margin-top 0.5s ease-in-out;
    -webkit-transition: margin-top 0.5s ease-in-out;
    -moz-transition: margin-top 0.5s ease-in-out;
    -ms-transition: margin-top 0.5s ease-in-out;
    -o-transition: margin-top 0.5s ease-in-out;
}

header.small-header nav #main-navbar.collapse .nav li form {
    margin-top: 8px;
}

#home.page-wrapper header.small-header nav .navbar-header > a {
    color: #529eff;
}

header nav .navbar-header > a,
header nav .navbar-header > button {
    padding: 0 15px !important;
    z-index: 99999;
}

header nav #main-navbar {
    overflow: hidden;
}

header nav #main-navbar.collapsing .nav {
    display: none !important;
}

header nav #main-navbar.collapse.in {
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out;
}

header nav #main-navbar.collapse.in .nav {
    font-size: 1rem;
    padding: 0 15px;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
}

header nav #main-navbar.collapse.in .nav li {
    text-align: center;
}

header nav #main-navbar.collapse.in .nav li:not(:first-child) {
    margin-top: 20px;
}

header nav #main-navbar.collapse.in .nav li:not(:last-child):after {
    background: rgba(243,243,243,1);
    background: linear-gradient(to right, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(243,243,243,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
}

header nav #main-navbar.collapse.in .nav li.form-search-container {
    opacity: 1 !important;
    visibility: visible !important;
}

header nav #main-navbar.collapse.in .nav li a {
    color: #529eff;
    padding-bottom: 20px;
    padding-top: 20px;
}