a {
    color: #529eff;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
}

a:focus,
a:hover {
    color: #2e64c3;
}

a.default-color {
    color: #5b5b5b;
}

.link {
    display: inline-block;
}