.form-control,
.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.form-control {
    border-color: #d2d6de;
    border-radius: 0;
}

.form-control:not(select) {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.form-control:focus {
    border-color:#76b1d5;
}

.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control:-o-input-placeholder {
    color: #bbb;
    opacity: 1;
}